$tab-long-size-v: 260;
$tab-short-size-v: 40;
$tab-caption-size-v: 210;

/* --------- wrapper --------- */
.v-sliderpanel-wrapper {
  z-index: 9990;
  margin-left: auto;
  margin-right: auto;

  &.layout-horizontal {
    /* --------- horizontal handling --------- */
    width: 100%;
    height: 0;
    position: relative;

    .v-sliderpanel-content {
      /* ------- content ------- */
      width: 100%;
    }
    .v-sliderpanel-tab {
      /* ------- tab ------- */
      border-radius: 0 0 10px 10px;
      height: $tab-short-size-v * 1px;
      width: $tab-long-size-v * 1px;

      &.tab-beginning {
        left: 4%;
      }
      &.tab-middle {
        left: 50%;
        margin-left: $tab-long-size-v * -0.5px;
      }
      &.tab-end {
        right: 4%;
      }
    }
    .v-sliderpanel-navigator {
      height: $tab-short-size-v * 1px;
      width: 100%;
    }
    &.mode-bottom {
      .v-sliderpanel-tab {
        border-radius: 10px 10px 0 0;
      }
      .v-sliderpanel-navigator {
        position: absolute;
      }
    }
  }
  &.layout-vertical {
    /* --------- vertical handling --------- */
    height: 100%;
    width: 0;
    position: relative;

    .v-sliderpanel-content {
      /* ------- content ------- */
      height: 100%;
    }
    .v-sliderpanel-tab {
      /* ------- tab ------- */
      border-radius: 0 0 10px 10px;
      height: $tab-short-size-v * 1px;
      width: $tab-long-size-v * 1px;
      position: absolute;

      &.tab-beginning {
        top: 4%;
      }
      &.tab-middle {
        top: 50%;
        margin-top: $tab-short-size-v * -0.5px;
      }
      &.tab-end {
        bottom: 4%;
      }
    }
    .v-sliderpanel-navigator {
      /* ------- navigation ------- */
      position: absolute;
      height: 100%;
      width: $tab-short-size-v * 1px;
    }
    &.mode-right {
      margin-left: 0;
      .v-sliderpanel-tab {
        border-radius: 0 0 10px 10px;
        -moz-transform: rotate(90.0deg);
        -o-transform: rotate(90.0deg);
        -webkit-transform: rotate(90.0deg);
        transform: rotate(90.0deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
        left: $tab-long-size-v * -0.5px + $tab-short-size-v * 0.5px;
      }
      .v-sliderpanel-navigator {
        left: 0;
      }
      .v-sliderpanel-content {
        float: right;
        left: $tab-short-size-v * 1px;
      }
    }
    &.mode-left {
      margin-right: 0;
      .v-sliderpanel-tab {
        -moz-transform: rotate(270.0deg);
        -o-transform: rotate(270.0deg);
        -webkit-transform: rotate(270.0deg);
        transform: rotate(270.0deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        margin-top: $tab-long-size-v * 0.5px;
        margin-left: $tab-long-size-v * -0.5px + $tab-short-size-v * 0.5px;
      }
      .v-sliderpanel-content {
        left: $tab-short-size-v * -1px;
      }
      .v-sliderpanel-navigator {
        right: 0;
      }
    }
  }
}

/* --------- content --------- */
.v-sliderpanel-content {
  overflow: hidden;
  position: absolute;
  background: #808080;
  color: #fff;
  z-index: 9990;
}

/* --------- navigator --------- */
.v-sliderpanel-navigator {
  position: relative;
  top: 0;
  z-index: 9991;
}


/* --------- tab action caption --------- */
.v-sliderpanel-tab {
  position: relative;
  line-height: 35px;
  color: #fff;
  font-size: 0.8em;
  cursor: pointer;
  background: #808080;

  &.closed {
    .v-sliderpanel-icon {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAclBMVEX///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////8GMOiGAAAAJXRSTlMAAQIEER4gIiYoNDU2Nzk7Pj9AQVVWf4GDhJ+goafJysvX2Pj5IsXCZQAAAIRJREFUeNplz90WgiAQBOBBUdQosywzU0Td93/FYg4XZd8FP8tZGBCo030Y+7NCZCehyYLaVaK1DftqC+tlCeNWAcrxsCg4OYVGKMuEGjx+Cx0GEV8ak6bGlF7kyUKudZJonbPw13LZX6rm3bOwDOY9gx3wcfuOTsdZyFlEqu5eY3/l99+t7xfl++A/UgAAAABJRU5ErkJggg==);
    }
  }
  &.open {
    .v-sliderpanel-icon {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAUVBMVEX///////////////////////////////////////////////////////////////////////////////////////////////////////////94FlRsAAAAGnRSTlMAAREgIig2NzhAQUJWgoOEhqChp8vMzdf4+ZRjm1EAAABmSURBVHjaXc5ZDoAwCATQwarVutd97n9QlRCT9n2SAQYfCUNcpyAwfqPaPFR/0Vw9XvXN310DYnnbEgQmWoxMjIjkWZWqOslFB65QTgf5Sn40ZG93AXxaLK+umsPyHka6Ka5zJ3g9Tp4RixdNH3gAAAAASUVORK5CYII=);
    }
  }

  .v-sliderpanel-caption {
    padding: 3px 0 0 15px;
    width: $tab-caption-size-v * 1px;
  }
}

/* --------- icon --------- */
.v-sliderpanel-icon {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 13px;
  right: 13px;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}